body {
  background-color: #282c34;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.App {
  text-align: center;
  padding: 1rem;
  width: 80vw;
  position: relative;
  background: linear-gradient(#DB37C4, #ED68D9, #49CCD4, #678CFA, #4635F7);
}

.decorated {
  text-decoration: underline wavy #49CCD4;
  font-size: 1.5em;
}

img {
  padding: 1em;
}

p {
  color: white;
}

a {
  color: #678CFA;
}

.num {
  color: #DB37C4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}